#homeScreen {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    background-color:burlywood;
    height:100vh;
}
#homeScreen button{
    border:none;
    border-radius:40px;
    padding:20px;
    font-size:20px;
}
*{
    outline:none;
    text-decoration:none;
}
body{
    margin:0 !important;
}








#userName, #email {
    border-radius: 20px;
    font-size: 1.5rem;
    width: 35rem;
    margin-bottom: 15px;
    border: none;
    padding:30px 20px;
}
#roomName {
    border-radius: 20px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    border: none;
    /*padding:20px;*/
}
.roomName p {
    padding: 0px 30px;
}
#roomTitle {
    font-size:30px;
    font-weight:100;
    width: 77.5%;
    height: 6rem;
    padding: 30px;
    display: flex;
    position: absolute;
    right: 0rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    box-shadow: #aaaaaa 0px 1px 0px 0px;
}


#chatScreen{
    display:flex;
    height:100%;
    /*margin:0px;*/
}

* {
    scrollbar-width: none;
}
body {
    display: flex;
    flex-direction: column;
    margin:0;
    height: 100vh;
}

.cont {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: self-end;
    align-items: center;
    align-content: space-between;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
}

.userSpan {
    color: green;
    background-color: ButtonFace;
    padding:7px;
    font-size:1.5rem;
    margin-right:10px;
}
.userSpan, .groupMessage {
    border-radius: 10px;
}

.joinedAndLeftMsg {
    background-color: #bbbbbb;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 30rem;
    text-align: center;
    align-self:center;
}

.chatTopBar {
    position: relative;
    top: 120px;
    width: 67%;
    margin-left: auto;
    float: right;
    display: flex;
    justify-content: space-between;
}

#joinRoom {
    background-color: #128C7E;
    padding:10px;
    width:200px;
    color:white;
}
.groupMessage {
    margin-bottom: 20px;
    font-size: 22px;
    max-width: 60%;
    padding: 14px 20px;
    box-shadow: grey 0px 2px 2px 0px;
    display: flex;
    flex-direction: column;
}
#messages {
    display: flex;
    flex: 1;
    overflow-y: auto;
    word-wrap: break-word;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    position: relative;
    top: 120px;
    left: 16rem;
    padding: 0 70px;
    margin-bottom: 10rem;
    height: 80% !important;
}
.textContent {
    word-wrap: break-word;
}
.users {
    background-color: #dcf8c6;
    align-self: flex-end;
    border-top-right-radius: 0;
}
    .users .userSpan{
        align-self:flex-end;
    }
.others {
    background-color: #f4f3f0;
    align-self: flex-start;
    border-top-left-radius: 0;
}
.inputContainer {
    display: flex;
    width: 90%;
    justify-content: center;
}
.input {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
    background-color: #f0f0f0;
    position: relative;
    width: 80%;
    margin-left: auto;
    box-shadow: #aaaaaa 0px -1px 0px 0px;
    border: none;
    align-items: center;
    justify-content: flex-end;
}
#messageInput {
    font-size: 1.4rem;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    align-self: center;
    position: relative;
    margin-bottom: 30px;
    overflow-wrap: break-word; /*long words break and wrap*/
    word-wrap: break-word; /*for older browsers*/
    white-space: normal;
    border: none;
    width:70%;
}

i {
    font-size:40px;
    
    
}
.send-btn, .upload-btn {
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color: transparent;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: none;
    transition:all 0.2s ease;
}
    .send-btn:hover {
        background-color: #bbbbbb;
        cursor: pointer;
    }


.send-btns {
    display: flex;
}

.userGroups {
    align-self: start;
    margin: 40px 0px 0px 40px;
    cursor: pointer;
}

.modal-backdrop.fade.show {
    display: none;
}
.modal-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    padding-right: 10px;
    padding:10px 30px;
    top:30vh !important;
    font-size:2rem;
    font-family:'Times New Roman', Times, serif;
    border-radius:30px !important;
}
#member-email-input, #group-name-input {
    padding: 10px;
    font-size: 2rem;
    outline: none;
}
.modal-footer button{
    font-size:20px;
    padding:10px 20px;
}
.modal-footer .btn-primary{
    background-color:green;
}
.groups-div {
    display: block !important;
    position: absolute;
    top: 99px;
    left: -40px;
    width: 25%;
    height: 90.5vh;
    padding: 10px;
    /*border-radius: 10px;*/
    border: none;
    background-color: #f0f0f0;
    box-shadow: #aaaaaa 1px 0px 0px 0px;
    transition: left 0.2s ease;
    z-index: 1;
    display: none;
}

    .groups-div li {
        margin-bottom: 15px;
        padding: 10px;
        cursor: pointer;
        margin-left: 2px;
        position: relative;
        top: 20px;
        list-style: none;
        transition: all 0.4s ease;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

        .groups-div li:hover {
            background-color: #808080;
        }
        .groups-div li i {
            padding: 5px;
            border-radius: 10px;
            transition: all 0.4s ease;
            position: absolute;
            right: 20px;
        }

       /* .groups-div li:active {
            background-color: #808080;
        }*/
    .groups-div li i:hover{
        background-color:tan;
        border-radius:50%;
    }
    .groups-div img {
        border-radius: 50%;
        width: 40px;
    }

#search-btn{
    display:flex;
    justify-content:center;
    align-content:center;
}
    #search-btn input {
        padding: 10px;
        border-radius: 10px;
        border:none;
        font-size:24px;
        width:80%;
    }

    .topBar i {
        position: absolute;
        left: 0;
    }
#addCahr-btn {
    position: absolute;
    left: 10px;
    top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #128C7E;
    font-weight: bold;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

#divOfBtns {
    display: flex;
    gap: 20px;
    right: 0;
    position: absolute;
}

#groupMembersBtn, #addMemberBtn {
    border-radius: 10px;
    padding: 20px;
    background-color: #128C7E;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 2rem;
    top: 0.7rem;
}


.membersDiv {
    width: 30rem;
    height: fit-content;
    position: absolute;
    top: 5.2rem;
    right: 7rem;
    background-color: #b4b4b4;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.memberInfo {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.member {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding: 0;
}
.member p {
    margin-bottom:3px;
}
.memberInfo:hover, member p:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.isOnline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.isOffline {
    background-color: black;
}



/****************************************************************/

.auth-btns{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-bottom:10px;
    padding:20px;
}
.auth-btns button{
    width:16rem;
    background-color:white;
    border-radius: 5px !important;
    transition:all 0.3s ease-in-out;
}
.auth-btns button:hover{
    background-color:antiquewhite;
}
.auth-inputs {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border: none;
    background-color: antiquewhite;
    /*border:2px solid black;*/
    border-radius: 20px;
    padding: 20px;
    width:40rem;
    height:20rem;
}

.fa-check-double{
    position:relative;
    bottom:0;
    opacity:0.5;
}

@media (max-width: 1245px) {
    .cont {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-self: self-end;
        align-items: center;
        align-content: space-between;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        flex-wrap: wrap;
    }

    .groups-div {
        width: 25%;
        font-size: smaller;
    }

    .groups-div {
        height: 89%;
    }

        .groups-div li i {
            font-size: 1.9rem;
        }

    #messages {
        position: absolute;
        padding: 10px;
        /*left: 260px;
        top:100px;*/
        width: 75%;
        height: 80% !important;
        margin-bottom: 13rem;
    }
}
.new-msg-badge {
    background-color: green;
    border-radius: 10px;
    padding: 3%;
    width: 60px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:20px;
    font-weight: bold;
    position: absolute;
    left: 130px;
}

.textTime{
    font-size:18px;
    color:grey;
}

#forFlex {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 20px;
}
.users #forUpperFlex {
    display: flex;
    flex-direction: row-reverse;
    /*justify-content: space-around;*/
}
    @media (max-width: 1244px) {
        .input {
        position: fixed;
        bottom: 0;
        left: 20%;
    }
}

.msg-options {
    display: flex !important;
    gap: 10px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    position: absolute;
    /*z-index: 100;*/
    margin-right:20px;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    background-color: #ddd;
    border: none;
    padding:5px 15px;
    border-radius: 3px;
    color:white;
    transition:all 1s ease;
}

.edit-btn{
    background-color: green;
}
.delete-btn {
    background-color: red;
}
    .delete-btn:hover {
        background-color:darkred;
    }
    .edit-btn:hover {
        background-color: darkgreen;
    }
.fa-ellipsis-vertical:hover{
    cursor:pointer;
}