#homeScreen {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    background-color:burlywood;
    height:100vh;
}
#homeScreen button{
    border:none;
    border-radius:40px;
    padding:20px;
    font-size:20px;
}
*{
    outline:none;
}
#userName, #email {
    border-radius:20px;
    font-size: 1.5rem;
    width: 35rem;
    margin-bottom: 15px;
    border:none;
    padding:20px;
}
#roomName {
    border-radius: 20px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    border: none;
    /*padding:20px;*/
}

#chatScreen{
    display:flex;
    height:100%;
}

* {
    scrollbar-width: none;
}
body {
    display: flex;
    flex-direction: column;
    margin:0;
    height: 100vh;
}

.cont {
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    align-self: self-end;
    align-items: center;
    align-content: space-between;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.userSpan {
    color: green;
    background-color: ButtonFace;
    padding:7px;
    font-size:1.5rem;
}
.userSpan, .groupMessage {
    border-radius: 10px;
}

.joinedAndLeftMsg {
    background-color: #bbbbbb;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 30rem;
    text-align: center;
    align-self:center;
}
.groupMessage {
    margin-bottom: 20px;
    font-size: 22px;
    max-width: 60%;
    padding: 14px 20px;
    box-shadow: grey 0px 2px 2px 0px;
    display:flex;
    flex-direction:column;
}
#messages {
    display: flex;
    flex: 1;
    overflow-y: auto;
    word-wrap: break-word;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    position: relative;
    top: 80px;
}
.textContent {
    word-wrap: break-word;
}
.users {
    background-color: #dcf8c6;
    align-self: flex-end;
    border-top-right-radius: 0;
}
    .users .userSpan{
        align-self:flex-end;
    }
.others {
    background-color: #f4f3f0;
    align-self: flex-start;
    border-top-left-radius: 0;
}
.input {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
    background-color: #f0f0f0;
    position: relative;
    width: 100%;
    box-shadow: #aaaaaa 0px -1px 0px 0px;
    border: none;
    align-items: center;
    justify-content:center;
}
#messageInput {
    font-size: 1.7rem;
    width: 35rem;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    align-self: center;
    position: relative;
    margin-bottom: 30px;
    overflow-wrap: break-word; /*long words break and wrap*/
    word-wrap: break-word; /*for older browsers*/
    white-space: normal;
    border: none;
}

i {
    font-size:40px;
    
    
}
.send-btn {
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color: transparent;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 30px;
    border: none;
}
    .send-btn:hover {
        background-color: #bbbbbb;
        cursor: pointer;
    }




.userGroups{
    align-self:start;
    margin:40px 0px 0px 40px;
    cursor:pointer;
}

.modal-backdrop.fade.show {
    display: none;
}
.modal-content {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    padding-right: 10px;
}



.groups-div {
    position: absolute;
    top: 90px;
    left: -40px;
    width: 400px;
    height: 87.6%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #808080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: left 0.2s ease;
    z-index: 1;
    display: none;
}

    .groups-div li {
        margin-bottom: 15px;
        padding: 10px;
        cursor: pointer;
        margin-left: 25px;
        position: relative;
        top: 20px;
        list-style: none;
        transition: all 0.4s ease;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .groups-div li:hover{
        background-color:white;
    }
        .groups-div li i {
            padding: 5px;
            border-radius: 10px;
            transition: all 0.4s ease;
        }
    .groups-div li i:hover{
        background-color:gray;
    }
    .groups-div img {
        border-radius: 50%;
        width: 40px;
    }



    .topBar i{
        position:absolute;
        left:0;
    }
#addCahr-btn {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: burlywood;
    font-weight: bold;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}
/*.delete-div {
    padding: 10px;
    border-radius: 4px;
    width: 7rem;
    text-align: center;
    color: white;
    font-size:1rem;
}*/
/*border-bottom: 1px solid rgb(174, 174, 174);*/
